.Modal {
    position: fixed;
    display: flex;
    top: 40%;
    width: 30%;
    height: 30%;
    text-align: center;
    justify-content: center;
    background-color: rgba(45, 44, 44, 0.12);
    border-radius: 10px;
    border-color: rgb(202, 0, 0);

}
#modal {
    display: flex;
    text-align: center;
    justify-content: center;
}